@using System.Collections.Generic;

@model List<WebApp.Models.Product>

<h2>Catalog Products</h2>

<table>
    
<thead>
    <th>ID</th>
    <th>Product</th>
    <th>Price</th>
</thead>

@foreach(var product in Model)
{
    <tr>
        <td>@product.Id</td>
        <td>@product.Name</td>
        <td>@product.Price</td>
    </tr>
}

</table>
